[submodule "content/notes-tokio/tokio-src"]
	path = content/notes-tokio/tokio-src
	url = https://github.com/tokio-rs/tokio.git
[submodule "content/notes-sqlite/sqlite-src"]
	path = content/notes-sqlite/sqlite-src
	url = https://github.com/sqlite/sqlite.git
